---

---

<div id="imageContainer" class="flex h-1/2">
  <img
    src="https://pub-3d4e82c550c449fda924638f7071baed.r2.dev/Papa.jpeg"
    alt="Imagen de papá"
    class=""
  />
</div>
<div>
  <p>Sube una imagen</p>

  <!-- Input de tipo file para seleccionar una imagen -->
  <input type="file" id="imageUpdate" accept="image/*" multiple />
  <br />
  <button
    class="inline-block rounded bg-red-600 px-2 py-1 text-white hover:bg-red-400"
    id="uploadImageToBucket">Subir imagen a Bucket</button
  >
  <br />
</div>

<script>
  import { actions } from "astro:actions";

  const imageUpdate = document.querySelector(
    "#imageUpdate",
  ) as HTMLInputElement;
  const imageContainer = document.querySelector(
    "#imageContainer",
  ) as HTMLDivElement;
  const uploadImageToBucket = document.querySelector(
    "#uploadImageToBucket",
  ) as HTMLButtonElement;

  imageUpdate?.addEventListener("change", (event: Event) => {
    // const file = event.target.files[0];
    const input = event.target as HTMLInputElement;

    if (input && input.files) {
      // Vemos los archivos subidos
      console.log(input.files);
      Array.from(input.files).forEach((file: File) => {
        previewImage(file);
      });
    } else {
      console.log("No hay archivos seleccionados");
    }
  });

  uploadImageToBucket?.addEventListener("click", async () => {
    // Valida primero que hay una imagen seleccionada
    const file = imageUpdate?.files?.[0];
    console.log(file?.type);

    if (file) {
      const params = {
        Bucket: "jknm-recuerdostrujillo",
        Key: file.name,
        Body: file,
      };

      const formData = new FormData();
      formData.append("Body", file);
      formData.append("Bucket", "jknm-recuerdostrujillo");
      formData.append("Key", file.name);

      const { data, error } = await actions.uploadBucketImage(formData);
      if (error) {
        console.error("Error", error);
      } else {
        console.log("Success", data);
      }
    } else {
      alert("No hay archivos seleccionados");
    }
  });

  function previewImage(file: File) {
    const imagePreview = document.createElement("img");
    imagePreview.src = URL.createObjectURL(file);
    imagePreview.alt = file.name;

    imageContainer?.appendChild(imagePreview);
    console.log(URL.createObjectURL(file));
  }
</script>
